Options -Indexes

// É uma configuração de permissão ou bloqueio a acessos a diretorios

// O .htaccess é um arquivo de configuração usado pelo servidor web Apache para controlar o comportamento de um site. Permite configurar redirecionamentos, restrições de acesso, otimizações de SEO, entre outras funcionalidades, sem a necessidade de alterar o arquivo principal do servidor.